<?xml version="1.0"?>
<config>
	<modules>
		<Stagem_Estimator>
			<version>0.1.0</version>
		</Stagem_Estimator>
	</modules>

	<global>

		<blocks>
			<stagem_estimator>
				<class>Stagem_Estimator_Block</class>
			</stagem_estimator>
		</blocks>

		<helpers>
			<stagem_estimator>
				<class>Stagem_Estimator_Helper</class>
			</stagem_estimator>
		</helpers>

		<models>
			<stagem_estimator>
				<class>Stagem_Estimator_Model</class>
				<resourceModel>stagem_estimator_resource</resourceModel>
			</stagem_estimator>
			<stagem_estimator_resource>
				<class>Stagem_Estimator_Model_Resource</class>
				<entities>
					<addon>
                        <table>stagem_estimator_addon</table>/table>
					</addon>
					<estimation>
                        <table>stagem_estimator_estimation</table>/table>
					</estimation>
				</entities>
			</stagem_estimator_resource>
		</models>

		<resources>
			<stagem_estimator_setup>
				<setup>
					<module>Stagem_Estimator</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</stagem_estimator_setup>
		</resources>

        <template>
            <email>
                <stagem_estimator_general_email_template translate="label">
                    <label>Online Estimator</label>
                    <file>stagem/estimator/form.html</file>
                    <type>html</type>
                </stagem_estimator_general_email_template>
            </email>
        </template>

	</global>

	<frontend>
		<routers>
			<stagem_estimator>
				<use>standard</use>
				<args>
					<module>Stagem_Estimator</module>
					<frontName>estimator</frontName>
				</args>
			</stagem_estimator>
		</routers>

		<layout>
			<updates>
				<stagem_estimator>
					<file>stagem/estimator.xml</file>
				</stagem_estimator>
			</updates>
		</layout>

		<translate>
			<modules>
				<Stagem_Estimator>
					<files>
						<default>Stagem_Estimator.csv</default>
					</files>
				</Stagem_Estimator>
			</modules>
		</translate>

	</frontend>

	<!-- is important place this code (<adminhtml/>) in config.xml if you wand place this in adminhtml.xml nothing happen -->
	<adminhtml>
		<layout>
			<updates>
				<stagem_estimator>
					<!--
					We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
					- Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
					-->
					<file>stagem/estimator.xml</file>
				</stagem_estimator>
			</updates>
		</layout>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<stagem_estimator before="Mage_Adminhtml">Stagem_Estimator_Adminhtml</stagem_estimator>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

    <default>
        <stagem_estimator>
            <general>
                <enabled>1</enabled>
                <file_extemsions><![CDATA[jpg, jpeg, png, gif]]></file_extemsions>
                <recipient_email><![CDATA[hello@localhost.com]]></recipient_email>
                <sender_email_identity>general</sender_email_identity>
                <email_template>stagem_estimator_general_email_template</email_template>
            </general>
        </stagem_estimator>
    </default>

</config>
